*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#main_nav{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
  }
  .horizon{
    color: #EF5F00;
    font-weight: bold;
  }
  
  .contact_us{
    background-color: #EF5F00;
    border-radius: 4px;
    color: #fff;
  }
  
  #navbar_toggler{
    border: none;
    font-size: 1.5rem;
    outline: none;
  }
  
  #navbar_toggler:focus, #btn_close{
    outline: none;
    border: none;
    box-shadow: none;
  }
  #nav_link{
    font-weight: 500;
    position: relative;
    color: grey;
  }